.woocommerce-invoice-payment-repeater-wrapper {
	background-color: $white;
	padding: .5rem;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,.1);
	margin-bottom: 1rem;
}
.woocommerce-invoice-payment-repeater-row {
	.field {
		display: flex;
		padding: .5rem 0;
		gap: 10px;
	}
	.order {
		width: 30px;
		height: 30px;
		flex: 0 0 30px;
		background: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23e3e3e3"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>');
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}
	
}